@import "tailwindcss";

@theme {
    --color-primary: #00AEEF;   
    --color-secondary: #008CD2;  
    --color-textDark: #1E1E1E;  
    --color-grayText: #666666; 

    --font-heading: 'Montserrat', sans-serif;
    --font-body: 'Istok Web', sans-serif;
}